{
  "host": {
    "domain": "",
    "region": ""
  },
  "recaptcha": {
    "secret": "",
    "verifyurl": "https://recaptcha.google.com/recaptcha/api/siteverify"
  },
  "db": {
    "report": "individual-report",
    "suspicious": "individual-report-suspicious",
    "dev": "individual-report-development",
    "daily_changes": "daily-changes"
  },
  "export": {
    "token": ""
  }
}
